<main>
   <div class="reviews__container">
      <ul class="reviews__meme__cards">
   <div class="container">
      <div class="details-wrapper">
         <form action="/categories" method="POST">
            Category Name <input type="text" name="categoryTitle" />
           
      </div>
      <ul class="meme__cards">
         {{#each reviews}}
         <li class="reviews__meme__card">
            <figure class="reviews__meme__fegure"><a href="/reviews/{{id}}"><img class="reviews__meme__image" src="{{imageUrl}}" alt="{{title}}"></figure></a>
            <a class="reviews__meme__link" href="/reviews/{{id}}">{{title}}</a>
         </li>
         {{/each}}
      </ul>
   </div>
   <a class="reviews__add-card-button" href="/category/">Add a category</a>
      </nav>
   </div>
</main>