<main>

    <div class="card-wrapper">
        <section class="card-details">
            <h1>{{review.name}}</h1>
            <figure><img src={{review.imageUrl}} alt="{{name}}"></figure>


        </section>
        <ul class="details-list">

            <li>Category: {{review.category}}</li>
            <li>Content: {{review.content}}</li>

        </ul>

    </div>
    <a class="home-nav" href="/">Back to Home</a>

</main>