<main>
    <div class="review__wrapper">
        <div class="review-flex">
            <section class="review__card__details">
                <h1 class="review__card__title">{{review.name}}</h1>
                <figure><img class="review__image" src={{review.imageUrl}} alt="{{name}}"></figure>
            </section>
            <div class="review-details">
                <ul class="review__card__list">
                    <li class="review__card__content">Content: {{review.content}}</li>
                    {{#each review.categories}}
                    <li class=" review__card__list__item">Category: <a href="/categories/{{id}}"> {{category}}</a></li>
                    {{/each}}
                    <div class="review__card__list__tags">
                        {{#each review.tags}}
                        <li><a href="/tags/{{id}}">{{name}}</a></li>
                        {{/each}}
                    </div>
                </ul>
            </div>
        </div>
        <section class="rating__button">
            <h3 class="rating__status">Rating: {{review.rating}}</h3>
            <form action="/reviews/{{review.id}}/increaseRating">
                <button class="rating__increase"><img class="thumbs" src="/pictures/Thumbs_up_final.png"
                        alt="Thumbs Up"></button>
            </form>
            <form action="/reviews/{{review.id}}/decreaseRating">
                <button class="rating__decrease"><img class="thumbs" src="/pictures/thumbs_down_final.png"
                        alt="Thumbs Down"></button>
            </form>
        </section>
        <form action="/reviews/{{review.id}}/addComment" method="POST" class="comment-form">
            <label>Who are you?</label><input type="text" name="author">
            <label>Add a Comment!</label><input type="text" name="comment">
            <button class="submit__button">Submit Comment</button>
        </form>
        <section class="review-comments">
            {{#each review.comments}}
            <ul>
                <li class="review-comments__author">Author: {{author}}</li>
                <li class="review-comments__comment">Comment: {{input}}</li>
            </ul>
            {{/each}}
        </section>
    </div>


</main>