<main>
    <section class="review__card__details">
        <h1 class="review__card__title">{{review.name}}</h1>
        <figure><img src={{review.imageUrl}} alt="{{name}}"></figure>
    </section>
    <ul class="review__card__list">
        {{#each review.categories}}
        <li class=" review__card__list__item">Category: <a href="/categories/{{id}}"> {{category}}</a></li>
        {{/each}}
        <li class="review__card__content">Content: {{review.content}}</li>
        {{#each review.tags}}
        <li><a href="/tags/{{id}}">{{name}}</a></li>
        {{/each}}
    </ul>
    <form action="/reviews/{{review.id}}/addComment" method="POST" class="comment-form">
        <label>Add a Comment!</label><input type="text" name="comment">
        <label>Who are you?</label><input type="text" name="author">
        <button>Submit Comment</button>
    </form>
    <section class="review-comments">
        {{#each review.comments}}
        <ul>
            <li>Author: {{author}}</li>
            <li>Comment: {{input}}</li>
        </ul>
        {{/each}}
    </section>

    <section>
        <h3 class="rating__status">Rating: {{review.rating}}</h3>
        <form action="/reviews/{{review.id}}/increaseRating">
            <button class="rating__increase"><img class="thumbs" src="/pictures/Thumbs_up_final.png"
                    alt="Thumbs Up"></button>
        </form>
        <form action="/reviews/{{review.id}}/decreaseRating">
            <button class="rating__decrease"><img class="thumbs" src="/pictures/thumbs_down_final.png"
                    alt="Thumbs Down"></button>
        </form>
    </section>
</main>