<main>
   <div class="container">
      <div class="details-wrapper">
        <form action="/reviews/add" method="POST">
            Title <input type="text" name="title" />
            Image Url<input type="text" name="imageUrl" />
            <label>
               Category: 
            <select name="categoryId">
               {{#each categories}}
               <option value="{{id}}">{{category}}</option>
               {{/each}}
            </select>
            </label>
            Content<input type="text" name="content" />
            <button type="submit">Add Meme</button>
        </form>
    </div>
      <ul class="meme__cards">
         {{#each reviews}}
         <li class="meme__card">
            <figure class="meme__fegure"><img class="meme__image" src="{{imageUrl}}" alt="{{title}}"></figure>
            <a class="meme__link" href="/reviews/{{id}}">{{title}}</a>
         </li>
         {{/each}}
      </ul>
      </nav>
   </div>
</main>