<main>
    <section class="review__card-details">
        <h1>{{review.name}}</h1>
        <figure><img src={{review.imageUrl}} alt="{{name}}"></figure>
    </section>
    <ul class="review__details-list">
        {{#each review.categories}}
        <li><a href="/categories/{{id}}">{{category}}</a></li>
        {{/each}}
        <li>Content: {{review.content}}</li>
    </ul>
</main>