<main>
   <div class="grid-container">
      <form action="/reviews/add" method="POST">
         <label> Title </label><input maxlength="20" type="text" name="title" />
         <label> Image Url</label><input type="text" name="imageUrl" />
         <label>Category:</label><select name="category">
            {{#each categories}}
            <option value="{{id}}">{{category}}</option>
            {{/each}}
         </select>
         <label>Content</label><input type="text" name="content" />
         <fieldset class="tags">
        <legend>Tags:</legend>
        {{#each tag}}
        <label><input type="checkbox" name="tags" value="{{id}}"> {{tag}}</label>
        {{/each}}
      </fieldset>
         <button type="submit">Add Meme</button>
      </form>
   </div>
   <ul class="reviews__cards__list">
      {{#each reviews}}
      <li class="reviews__card__list__item">
         {{title}}
         <a href="/reviews/{{id}}">
            <figure class="reviews__meme__figure"><img class="reviews__meme__image" src="{{imageUrl}}" alt="{{title}}">
            </figure>
         </a>
      </li>
      {{/each}}
   </ul>
</main>