<main>
    <section class="review__card__details">
        <h1 class="review__card__title">{{review.name}}</h1>
        <figure><img src={{review.imageUrl}} alt="{{name}}"></figure>
    </section>
    <ul class="review__card__list">
        {{#each review.categories}}
        <li class=" review__card__list__item">Category: <a href="/categories/{{id}}"> {{category}}</a></li>
        {{/each}}
        <li class="review__card__content">Content: {{review.content}}</li>
        {{#each review.tags}}
         <li><a href="/tags/{{id}}">{{name}}</a></li>
        {{/each}}
    </ul>
</main>