<main>

    <div class="review__card-wrapper">
        <section class="review__card-details">
            <h1>{{review.name}}</h1>
            <figure><img src={{review.imageUrl}} alt="{{name}}"></figure>



        </section>
        <ul class="review__details-list">

            <li>Category: {{review.categoryTitle}}</li>
            <li>Content: {{review.content}}</li>

        </ul>

    </div>
    

</main>