<main>
   <div class="grid-container">
      <form action="/reviews/add" method="POST">
         <label class="meme__label"> Title </label><input class="meme__input" maxlength="20" type="text" name="title" />
         <label class="meme__label"> Image Url</label><input class="meme__input" type="text" name="imageUrl" />
         <label class="meme__label">Category:</label><select class="meme__input" name="category">
            {{#each categories}}
            <option value="{{id}}">{{category}}</option>
            {{/each}}
         </select>
         <label class="meme__label">Content</label><input class="meme__input" type="text" name="content" />
         <fieldset class="tags">
            <legend class="meme__label">Tags:</legend>
            {{#each tags}}
            <label class="tag-boxes"><input type="checkbox" name="tag" value="{{id}}"> {{name}}</label>
            {{/each}}
         </fieldset>
         <button type="submit">Add Meme</button>
      </form>
   </div>
   <ul class="reviews__cards__list">
      {{#each reviews}}
      <li class="reviews__card__list__item">
         {{title}}
         <a href="/reviews/{{id}}">
            <figure class="reviews__meme__figure"><img class="reviews__meme__image" src="{{imageUrl}}" alt="{{title}}">
            </figure>
         </a>
      </li>
      {{/each}}
   </ul>
</main>